/********** reset ***********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*************** wrapper et génériques *****************/
body {
    background-color: #f5f5dc;
}
#wrapper {
    margin: 0 auto;
    position: relative;
}
img {
    width: 100%;
}
/************** Ecran de démarrage *********************/
#ecranDepart {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
#demarrer {
    margin-top: 70px;
    color: #ffc107;
    background-color: #ffc107;
    width: 75%;
    cursor: pointer;
}
#demarrer:hover {
    background-color: #e9e9af;
    color: #e9e9af;
}
.clignotement {
    animation: couleurClignotement 1s infinite;
}
@keyframes couleurClignotement
{
    0% { }
    50% { color: black; }
}
/************** Map *******************/
table {
    border-collapse: collapse;
    margin: auto;
}
tr, td {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
/* couleur de fond des cases obstacles */
.casesObstacles {
    background-color: black;
}
/* couleur de fond des cases armes */
.casesArmes {
    background-color: #eeeec3;
}
/* couleur de fond des cases joueurs */
.casesJoueurs {
    background-color: #eeeec3;
}
/* couleur de fond des cases accessibles */
.casesAccessibles {
    background-color: #e9e9af;
}
/* couleur des cases pour le déplacement */
.casesSurbrillance {
    box-shadow: #505016 0px 0px 10px 3px inset;
}
/* Dimensions des images dans la map */
.imgTableau {
    max-width: 65px;
    max-height: 65px;
}

/****************** Légende des armes *********************/
.imageArme {
    width: 75px;
    height: 75px;
}
.tableauArmes {
    width: 20%;
}
.recapArmes {
    margin-top: 20px;
    margin-bottom: 50px;
}
/****************** Message de début + fin de combat **************/
#debutCombat, #finCombat {
    display: none;
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}
#combat, #recommencer, #quitter {
    margin-top: 30px;
    width: 50%;
    color: #ffc107;
    background-color: #ffc107;
    cursor: pointer;
}
#combat:hover, #recommencer:hover, #quitter:hover {
    background-color: #e9e9af;
    color: #e9e9af;
}
