/********** reset ***********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*************** wrapper et génériques *****************/
body {
    background-color: #f5f5dc;
}
#wrapper {
    margin: 0 auto;
}
img {
    width: 100%;
}
/************** Map *******************/
table {
    border-collapse: collapse;
    margin: auto;
}
tr, td {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
/* couleur de fond des cases obstacles */
.casesObstacles {
    background-color: black;
}
/* couleur de fond des cases armes */
.casesArmes {
    background-color: #eeeec3;
}
/* couleur de fond des cases joueurs */
.casesJoueurs {
    background-color: #eeeec3;
}
/* couleur de fond des cases accessibles */
.casesAccessibles {
    background-color: #e9e9af;
}
/* couleur des cases pour le déplacement */
.casesSurbrillance {
    box-shadow: #505016 0px 0px 10px 3px inset;
}
/* Dimensions des images dans la map */
.imgTableau {
    max-width: 65px;
    max-height: 65px;
}
/****************** Légende des armes *********************/
.imageArme {
    width: 75px;
    height: 75px;
}
.tableauArmes {
    width: 20%;
}
.recapArmes {
    margin-top: 20px;
    margin-bottom: 50px;
}